* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  border: 1px solid #fbffe3;
  padding: 20px;
}

.nome {
  flex: 1 0 150px;
  color: #83a300;
  font-size: 20px;
  border-radius: 5px;
}
.email {
  border-radius: 5px;
  font-size: 20px;
  color: #83a300;
  flex: 1 0 150px;
}
button {
  flex: 1 0 150px;
  background-color: #83a300;
  padding: 20px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
}
