<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <p>Header</p>
    </header>

    <section class="row">
      <article class="column">
        <h2>menu</h2>
      </article>

      <main class="column">
        <h1>Conteudo</h1>
      </main>

      <aside class="column">
        <h1>sub conteudo do main</h1>
      </aside>
    </section>
    <footer class="footer">
      <p>Footer</p>
    </footer>
  </body>
</html>
